# -------------------------
# Python
# -------------------------
.venv/
.runtime_venv/
__pycache__/
*.py[cod]

# -------------------------
# Backend runtime data
# -------------------------
backend/chroma_db/
backend/uploads/
backend/metadata/documents.json

# -------------------------
# Frontend
# -------------------------
Frontend/node_modules/
Frontend/dist/

# -------------------------
# Environment files
# -------------------------
.env
*.env

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db